<dependencies>
    <remoteSwiftPackage url="https://github.com/google-ar/arcore-ios-sdk.git" version="1.56.0">
        <swiftPackage name="ARCoreCloudAnchors" replacesPod="ARCore/CloudAnchors"/>
    </remoteSwiftPackage>
    <iosPods>
        <iosPod name="ARCore/CloudAnchors" version="~> 1.56.0" minTargetSdk="15.0">
        </iosPod>
    </iosPods>
</dependencies>
