<dependencies>
    <remoteSwiftPackage url="https://github.com/google-ar/arcore-ios-sdk.git" version="1.56.0" upToNextMinor="true">
        <swiftPackage name="ARCoreSemantics" replacesPod="ARCore/Semantics"/>
    </remoteSwiftPackage>
    <iosPods>
        <iosPod name="ARCore/Semantics" version="~> 1.56.0" minTargetSdk="15.0">
        </iosPod>
    </iosPods>
</dependencies>
